@import 'https://fonts.googleapis.com/css?family=Lobster';

section#header{
	height: 50px;
}

section#content{
	display: block;
	margin-right: auto;
    margin-left: auto;
	width: 40%;
	background: #ebebe8;
}

#title{
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 2em;
}

#add-comment{
	text-align: right;
}

.message{
	border-style: groove;	
}

.content{
	font-family: 'Lobster', cursive;
	text-align: center;
}

.author{
	text-align: right;
}