{% extends "leftmessages/layout.html" %}

{% block title %}Show Messages{% endblock %}
{% block head %}<meta http-equiv="refresh" content="10">{% endblock %}


{% block content %}
<div id='title'>Message Board</div> <div id='add-comment'>[<a href='/leave_message'>✚</a>]</div>
	{% for message in last_ten_messages %}
		<div class="message">
			<div class='left'>
				<div class='content'> {{ message.content }} </div>
				<div class='author'> ~{{ message.author }} </div>
			</div>
			<div class='right'>
				<div class="delete"> <a href="/delete/{{message.pk}}">✖︎</a> </div>
			</div>
		</div>	
	{% endfor %}
{% endblock %}


